.events-view-more a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration: none;
    background-color: #f1f1f1;
    color: #000;
    border: solid 1px #cbcbcb !important;
    height: 14px;
    outline:none;
    font-size: 10px;
    line-height: 14px;
    float:right;
}

.form-bubble.overlay {
  padding: 14px 14px 10px 14px !important;
  background-color: #EBF5FF;
  border-top: none !important;
  -moz-border-radius: 0 0 5px 5px !important;
  -webkit-border-radius: 0 0 5px 5px !important;
  background-image: -moz-linear-gradient(100% 100% 90deg, white, #ebf5ff);
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important; }

.form-bubble.calendar-overlay {
  -moz-border-radius: 0;
  -moz-box-shadow: none;
  -webkit-border-radius: 0;
  -webkit-box-shadow: none;
  background-color: #f5f5f5; }
  

#calendar{
    margin-top:0;
}
.post-body #calendar a{
    padding:0;
}

.fc-grid .fc-day-content {
    padding-top:0;
}
.form-bubble .form-bubble-content ul h5 {
    font-size:13px;
    color: #3D9B46;
    margin: -6px 0 4px;
}

.fc div.fc-content{
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
thead {
    background-color:#fff;
}
.fc-other-month{
    opacity:.8;
}
.fc-today{
    background-color:#fffdd2 !important;
}
  .form-bubble .form-bubble-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.events-view-more a span {
      padding: 5px;
}
.events-view-more a:hover {
    background-color: #fff;
}
.events-view-more {
    color: #000;
    padding-top:2px;
    margin-top:-1px;
}
.fc-event.arrow-right a {
  background: url("../images/arrow-right.png") no-repeat scroll right 2px; }



.fc-event.arrow-left a span {
  padding-left: 9px;
  background: url("../images/arrow-left.png") no-repeat scroll left 2px transparent; }